{% load static %}
<html lang="en">
    <head>
        <script src="/static/tailwind.js"></script>
        <script type="text/javascript" src="/static/jquery.js"></script>
        <link rel="icon" type="image/x-icon" href="/static/SHA_logo.png">
        <link rel="preload" href="/static/SHREE-GUJ7-0750.woff2" as="font" type="font/woff2">
        <link rel="preload" href="/static/Shree-Guj-0768.woff2" as="font" type="font/woff2">
        <title>404 error</title>
    </head>
    <body class="bg-[#FFD07F]/25">
        <section class="flex items-center h-full p-16 dark:bg-gray-900 dark:text-gray-100">
            <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
                <div class="max-w-md text-center">
                    <h2 class="mb-8 font-extrabold text-9xl dark:text-gray-600">
                        <span class="sr-only">Error</span>404
                    </h2>
                    <p class="text-2xl font-semibold md:text-3xl">Sorry, we couldn't find this page.</p>
                    <p class="mt-4 mb-8 dark:text-gray-400">But dont worry, you can find plenty of other things on our homepage.</p>
                    <a rel="noopener noreferrer" href="/" class="px-8 py-3 font-semibold rounded dark:bg-violet-400 dark:text-gray-900">Back to homepage</a>
                </div>
            </div>
        </section>
        <script>
            setTimeout(function () {
                window.location.replace("./")
            }, 3000);
        </script>
    </body>
</html>